@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #032c6b;

  --primary: #032c6b;
  --primary-blue: #0277fa;

  --muted: #64748b;
  --border: #e2e8f0;

  --section-light: #f5f9ff;
  --section-blue: #eef6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-blue: var(--primary-blue);

  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-section-light: var(--section-light);
  --color-section-blue: var(--section-blue);

  --font-sans: var(--font-geist);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}